[ req ]
default_bits        = 2048
default_md          = sha256
distinguished_name  = req_distinguished_name 
prompt              = no
x509_extensions     = v3_ca 

[ req_distinguished_name ]
commonName          = TMNT Root CA
stateOrProvinceName = Victoria
countryName         = AU
emailAddress        = admin@tmnt.local
organizationName    = TMNT Inc

[ v3_ca ]
subjectKeyIdentifier   = hash
authorityKeyIdentifier = keyid:always, issuer
basicConstraints       = critical, CA:true
keyUsage               = critical, digitalSignature, keyCertSign

[ v3_intermediate_ca ]
subjectKeyIdentifier    = hash
authorityKeyIdentifier  = keyid:always,issuer
basicConstraints        = critical, CA:true, pathlen:0
keyUsage                = critical, digitalSignature, keyCertSign

[ ca ]
default_ca = ca_tmnt_root

[ca_tmnt_root]
dir                     = {{BASE_DIR}}/ca/root
database                = $dir/index.txt
new_certs_dir           = $dir/newcerts
serial                  = $dir/serial
private_key             = $dir/private/root.key.pem
certificate             = $dir/certs/root.cert.pem
default_md              = sha256
name_opt                = ca_default
cert_opt                = ca_default
default_days            = 7300
policy                  = ca_tmnt_root_policy

[ca_tmnt_root_policy]
commonName              = supplied
stateOrProvinceName     = match
countryName             = match
emailAddress            = optional
organizationName        = match
organizationalUnitName  = optional